<%= form_for @exhibition do |f| %>

  <% if @exhibition.errors.any? %>
    <div id="error_explanation">
      <h2>
        Kõik väljad peavad olema täidetud!
      </h2>
    </div>
  <% end %>
 
  <p>
    <%= f.label :nimi %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :asukoht %><br>
    <%= f.text_field :location %>
  </p>
 
  <p>
    <%= f.label :kestus %><br>
    <%= f.text_field :duration %>
  </p>
 
  <p>
    <%= f.submit "Salvesta" %>
  </p>
<% end %>