<h1>Vare Maalid</h1>

<!-- Header -->
<%= link_to 'Avaleht', root_path %>
<%= link_to 'Maalid', controller: 'albums' %>
<%= link_to 'Näitused', controller: 'exhibitions' %>
<%= link_to 'Taustainfo', root_path %>
<%= link_to 'Kontakt', root_path %>

<!-- Body -->
<h2>Avaleht</h2>
<!-- text -->
<!-- pildid -->
<p>
	Vaata veel maale <%= link_to 'SIIT', controller: 'albums' %>
</p>

<!-- näitus -->
<p>
	Veel infot näitustest <%= link_to 'SIIN', controller: 'exhibitions' %>
</p>

<!-- eemaldada -->
<p>
	See koduleht pole hetkel valmis.
</p>

<p>
	Töötav lehekülg: <%= link_to 'Vare Maalid', 'http://varemaalid.webs.com' %>
</p>

<!-- footer -->
<!-- LIKE/SHARE -->
<%= link_to 'Kontakt', root_path %>
Veebilehe looja: Diana Algma
<%= link_to 'Logi sisse', root_path %>

<!-- eemaldada -->
<p>
  Aeg praegu: <%= Time.now %>
</p>