<h1>Maalid</h1>

<%= link_to 'Lisa uus album', new_album_path %>

<h2>Ülle Algma-Vare</h2>
<% @albums.each do |album| %>
	<% if album.author == 'Ülle Algma-Vare' %>
		<%= album.name %><br>
		<%= link_to 'Vaata albumit', album_path(album) %><br>
		<%= link_to 'Muuda albumit', edit_album_path(album) %><br>
		<%= button_to 'Kustuta album', album_path(album), method: :delete, data: { confirm: "Kas oled kindel, et tahad kustutada albumi koos kõigi piltidega?" } %>
	<% end %>
<% end %>

<h2>Raivo Vare</h2>
<% @albums.each do |album| %>
	<% if album.author == 'Raivo Vare' %>
		<%= album.name %><br>
		<%= link_to 'Vaata albumit', album_path(album) %><br>
		<%= link_to 'Muuda albumit', edit_album_path(album) %><br>
		<%= button_to 'Kustuta album', album_path(album), method: :delete, data: { confirm: "Kas oled kindel, et tahad kustutada albumi koos kõigi piltidega?" } %>
	<% end %>
<% end %>